.features-carousel {
    overflow: hidden;
    padding-bottom: 40px;
}

.features-carousel .embla__container {
    column-gap: 20px;
}

.features-carousel .embla__slide {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
    max-width: calc(100vw - 32px);
}

.features-carousel .embla__slide button {
    margin-bottom: 30px;
    margin-top: 5px;
}
